{% extends 'base.html' %}

{% load static %}

{% block stylesheets %}

    {{ block.super }}

    <link rel="stylesheet" href="{% static 'css/notifications.css' %}">

{% endblock stylesheets %}


{% block content %}

    <div class="row">
        <div class="col-md-3">

            {% for notification in notifications %}
                <div class="notification">
                    {% include notification.get_template %}
                </div>
            {% endfor %}

        </div> <!-- end of col-md-3 -->
    </div>


{% endblock content %}