{% extends 'base.html' %}

{% block content %}

    <form id="add_funds_form" action="" method="post">

        {% csrf_token %}

        {{ form.as_p }}


    </form>

    <button class="btn btn-info paypal-button" disabled>Paypal</button>


{% endblock content %}


{% block javascript %}

    {{ block.super }}

<!-- Load the client component. -->
<script src="https://js.braintreegateway.com/web/3.7.0/js/client.min.js"></script>

<!-- Load the PayPal component. -->
<script src="https://js.braintreegateway.com/web/3.7.0/js/paypal.min.js"></script>


<script>


{#var paypalButton = $('#paypal_button');#}
var paypalButton = document.querySelector('.paypal-button');
var form = $('#add_funds_form');
var payment_method_nonce_field = $('#id_payment_method_nonce');

// Create a client.
braintree.client.create({
  authorization: '{{ client_token }}'
}, function (clientErr, clientInstance) {

  // Stop if there was a problem creating the client.
  // This could happen if there is a network error or if the authorization
  // is invalid.
  if (clientErr) {
    console.error('Error creating client:', clientErr);
    return;
  }

  // Create a PayPal component.
  braintree.paypal.create({
    client: clientInstance
  }, function (paypalErr, paypalInstance) {

    // Stop if there was a problem creating PayPal.
    // This could happen if there was a network error or if it's incorrectly
    // configured.
    if (paypalErr) {
      console.error('Error creating PayPal:', paypalErr);
      return;
    }

    // Enable the button.
    paypalButton.removeAttribute('disabled');

    // When the button is clicked, attempt to tokenize.
    paypalButton.addEventListener('click', function (event) {

      // Because tokenization opens a popup, this has to be called as a result of
      // customer action, like clicking a button—you cannot call this at any time.
      paypalInstance.tokenize({
        flow: 'vault'
      }, function (tokenizeErr, payload) {

        // Stop if there was an error.
        if (tokenizeErr) {
          if (tokenizeErr.type !== 'CUSTOMER') {
            console.error('Error tokenizing:', tokenizeErr);
          }
          return;
        }

        // Tokenization succeeded!
        paypalButton.setAttribute('disabled', true);
        console.log('Got a nonce! You should submit this to your server.');
        console.log(payload.nonce);

        payment_method_nonce_field.val(payload.nonce);

        form.submit();

      });

    }, false);

  });

});


</script>
{% endblock javascript %}