{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-6">

            <h1>{{ user.username }}</h1>
            <img src="{% get_media_prefix %}{{ user.profile.avatar }}" alt="" width="200" height="200">

            {% if has_steam_connected %}
                <h3>Steam account connected</h3>
            {% else %}
                {% load socialaccount %}
                <h3>Connect your steam account:</h3>

                <a href="{% provider_login_url "openid" openid="http://steamcommunity.com/openid" next="/accounts/profile/" process="connect" %}">Connect Steam</a>

            {% endif %}

            <h4>Current balance: {{ balance }}</h4>

        </div>
    </div>


{% endblock content %}